:root {
    --family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-base: 1em;
    --flow: 1.5em;
    --primary: hsl(100, 50%, 50%);
    --primary-light: hsl(100, 45%, 55%);
    --primary-lightest: hsl(100, 40%, 60%);

    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--family);
    font-size: var(--font-base);
    background: hsl(96, 33%, 91%);
    min-height: 100vh;
}

a {
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-light);
}

a:active {
    color: var(--primary-lightest);
}

main {
    max-width: 100%;
    padding: 1.25em;
}

.main {
    width: 100%;
    min-height: 100vh;
}

.super-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flow > * + * {
    margin-top: var(--flow);
}

.alert {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 0.5em;
}

.alert.is-danger {
    background: hsl(0, 70%, 50%);
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card.is-center {
    align-items: center;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    min-height: 44px;
    text-transform: uppercase;
    font-family: var(--family);
    font-size: var(--font-base);
    border: 0 solid transparent;
    background: none;
}

.button[disabled] {
    opacity: 0.5;
    box-shadow: 0 0 0 transparent;
    pointer-events: none;
}

.button.is-primary {
    background: var(--primary);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button.is-primary:hover {
    background: var(--primary-light);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.button.is-primary:active {
    background: var(--primary-lightest);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:focus {
    outline: none;
    border: 1px dotted rgba(0, 0, 0, 0.2);
}

.field {
    display: flex;
}

.field.is-checkbox {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.field.is-checkbox .input {
    position: relative;
    margin-right: 1em;
}

.field.is-checkbox .input::before {
    content: "";
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1em);
    height: calc(1em);
    background: #fff;
    border: 2px solid #000;
}

.field.is-checkbox .input:checked::before {
    background: var(--primary);
}

.field.is-file > .input {
    display: none;
}

.field.is-file > .label {
    padding: 1em 1.5em;
    min-height: 44px;
    border: 2px dashed currentColor;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.field.is-file.is-active > .label {
    color: var(--primary);
}

.code {
    text-align: left;
    background: #333;
    color: #eee;
    white-space: pre;
    word-wrap: none;
    word-break: keep-all;
    padding: 1em;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
}

.table-wrapper {
    max-width: 90vw;
    max-height: calc(100vh - 330px);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.table {
    border-collapse: collapse;
}

.table thead th {
    background: var(--primary);
    color: #fff;
}

.table th,
.table td {
    padding: 1em;
}

.table tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.is-hidden {
    display: none;
}

.text-center {
    text-align: center;
}
